<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>

 </head>
 <body>
  <h1>Digite dois números:</h1>
  <form action="/resultado2" method="post" id="form1">
   <input type="text" name="n1"id="n1"/>
   <input type="text" name="n2"id="n2"/>
   <input type="text" name="n3"id="n3"/>
   <input type="submit"/>
  </form>
  <h1>Resultado:</h1>
  <h1 id="resultado"></h1>
 </body>
</html>