<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra do furado</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
    <div class="titulopg">
        <img src="../logo.png" id="imagem">
        <h1>Barra do Furado</h1>
    </div>
    <%-include('nav')%>
    <div class="main2">
        <img src="../barra01.jpg" alt="" class="images">
        <img src="../barra02.jpg" alt="" class="images">

    </div>


    <%-include('rodape')%>

</body>

</html>