<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../style.css" type="text/css"> 
</head>

<body>
    <div class="titulopg">
        <img src="/logo.png" id="imagem"> 
        <h1>Dados do Usuário</h1>
    </div>

    <%- include('nav') %>
    <main>
        <form action="/salvar" method="post" class="login"> 
            <label for="nome">Nome:</label> 
            <input type="text" id="nome" name="nm">

         
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="tel"> 
         
            <input type="submit" value="Finalizar" class="button">
        </form>
    </main>
    <%- include('rodape') %>
</body>

</html>
