<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visgueiro</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
</head>

<body>
    <div class="titulopg">
        <img src="/public/logo.png" id="imagem">
        <h1>Visgueiro</h1>
    </div>
    <%-include('nav')%>
    <div class="main2">
        <img src="/public/Visqueiro01.jpg" alt="" class="images">
        <img src="/public/Visqueiro02.jpg" alt="" class="images">

    </div>
    <%-include('rodape')%>

</body>

</html>